<html>
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <title>Make Eoin proud : mini memorial book</title>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-623877-13']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<h1 class="book-title"><a id="eoin" href="/{% ifnotequal current_page 0 %}mini-book{% endifnotequal %}">Eoin Curran</a> <span>March 1980 &mdash; July 2010</span></h1>
<div id="memorial-book" class="{{current_page|progress}}" style="display:nonce;">
    <div id="spine"></div>
    <div id="pages">
        <div class="pair {% ifequal current_page 0 %} opened{% endifequal %}" id="page0">
            <div class="left intro" style="z-index:10">
                <p>We spend lots of time looking through photos of Eoin and wanted to share a few of them with you.</p>
                <p>It's always nice to hear new stories about Eoin or old ones retold. Please keep sharing any that you've got.</p>
                <dl class="fadeIn" style="display:none">
                    <dt>next page:</dt><dd>&rarr; j</dd><dt>previous page:</dt><dd>&larr; k</dd>
                </dl>
            </div>
            <a href="1..2" class="right"><img src="/images/mini-book/0.jpg"  alt="Eoin, enjoying a family brunch in Dublin, soon before heading to New York. February 2010." width="426" height="426"/></a>
        </div>
        {% for num in all_pages %}
            <div class="pair {% ifequal num current_page %} opened{% endifequal %}" id="page{{num}}">
                {% ifequal num 1 %}
                    <a href="1..2" class="left"><img src="/images/mini-book/{{num}}.jpg" alt="{{num|caption}}" width="426" height="426" /></a>
                    <a href="2..3" class="right"><img src="/images/mini-book/{{num|add:1}}.jpg"  alt="{{num|add:1|caption}}" width="426" height="426"/></a>
                {% endifequal %}
                {% ifnotequal num 47 %}
                    {% ifnotequal num 1 %}
                        <a href="{{num|minus:2}}..{{num|minus:1}}" class="left"><img src="/images/mini-book/{{num}}.jpg"  alt="{{num|caption}}" width="426" height="426" /></a>
                        <a href="{{num|add:2}}..{{num|add:3}}" class="right"><img src="/images/mini-book/{{num|add:1}}.jpg"  alt="{{num|add:1|caption}}" width="426" height="426"/></a>
                    {% endifnotequal %}
                {% endifnotequal %}
                {% ifequal num 47 %}
                    <a href="45..46" class="left"><img src="/images/mini-book/{{num}}.jpg"  alt="{{num|caption}}" width="426" height="426"/></a>
                    <a href="47..48" class="right"><img src="/images/mini-book/{{num|add:1}}.jpg"  alt="{{num|add:1|caption}}" width="426" height="426"/></a>
                {% endifequal %}
            </div>
        {% endfor %}

    </div>
    <div id="notes">
        {% if double_page %}
            <div class="caption left fadeIn" style="display:none"></div>
            <div class="caption right fadeIn" style="display:none"></div>
            <div class="caption center fadeIn" style="display:none">{{current_page|caption}}</div>
        {% else %}
            {% ifequal current_page 0 %}
                <div class="caption left fadeIn" style="display:none"></div>
                <div class="caption right fadeIn" style="display:none">Eoin, enjoying a family brunch in Dublin, soon before heading to New York. February 2010.</div>
            {% endifequal %}
            {% ifnotequal current_page 0 %}
                <div class="caption left fadeIn" style="display:none">{{current_page|caption}}</div>
                <div class="caption right fadeIn" style="display:none">{{current_page|add:1|caption}}</div>
            {% endifnotequal %}
            <div class="caption center" style="display:none"></div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('.fadeIn').delay(500).fadeIn();
        var flickInProgress = false;
        var flickToNextPageIfAny = function(currentPages, pagesToFlickTo, animation) {
            if (pagesToFlickTo.length <= 0 || flickInProgress) {
                return;
            }
            flickInProgress = true;
            pagesToFlickTo.addClass('opening');
            $('#notes .caption').fadeOut();
            var newPageNumber = pageNumberFrom(pagesToFlickTo);
            updatePermalink(newPageNumber);
            updateEoinLink(newPageNumber);
            animation(currentPages, pagesToFlickTo);
        };
        var updatePermalink = function(newPageNumber) {
            var isFirstPage = newPageNumber == 0;
            var newHref = isFirstPage ? "/mini-book/" : ("/mini-book/" + newPageNumber + ".." + (newPageNumber + 1));
            var newTitle = "Eoin Curran 1980 - 2010 : Memorial Book" + isFirstPage ? "" : " :: page " + newPageNumber + ".." + (newPageNumber + 1);
            window.history.replaceState({'pageNumber' : newPageNumber}, newTitle, newHref);
        };
        var updateEoinLink = function(newPageNumber) {
            $('#eoin').attr('href', (newPageNumber == 0) ? "/" : "/mini-book");
        };
        var animateToNextPage = function(currentPages, pagesToFlickTo) {
            animatePageFlicking('right', 'left', currentPages, pagesToFlickTo);
        };
        var animateToPreviousPage = function(currentPages, pagesToFlickTo) {
            animatePageFlicking('left', 'right', currentPages, pagesToFlickTo);
        };
        var animatePageFlicking = function(from, to, currentPages, pagesToFlickTo) {
            var toDisappear = '.' + from + ' img';
            var toAppear = '.' + to + ' img';
            $(toDisappear, currentPages).animate({
                width: 0
            }, 500, function() {
                updateCaptions(pagesToFlickTo);
                $(toAppear, pagesToFlickTo).css('width', 0);
                $(toAppear, pagesToFlickTo).css('z-index', 11);
                $(toAppear, pagesToFlickTo).animate({
                    width: 426
                }, 500, function() {
                    currentPages.removeClass('opened');
                    pagesToFlickTo.removeClass('opening');
                    pagesToFlickTo.addClass('opened');
                    $('img', pagesToFlickTo).css('z-index', 10);
                    $('img', currentPages).css('z-index', 9);
                    updatePageThickness(pagesToFlickTo);
                    flickInProgress = false;
                });
            });
        };
        var updatePageThickness = function(pairOfPages) {
            var leftPage = pageNumberFrom(pairOfPages);
            var progress = 1;
            if (leftPage >= 40) {
                progress = 5;
            } else if (leftPage >= 30) {
                progress = 4
            } else if (leftPage >= 20) {
                progress = 3;
            } else if (leftPage >= 10) {
                progress = 2;
            }
            $('#memorial-book').attr('class', "progress-" + progress);
        };
        var updateCaptions = function(newPair) {
            $('#notes .caption').html("");
            var leftNote = $('a.left img', newPair).attr('alt') || "";
            var rightNote = $('a.right img', newPair).attr('alt') || "";
            if (leftNote == rightNote) {
                $('#notes .center').html(leftNote);
            } else {
                $('#notes .left').html(leftNote);
                $('#notes .right').html(rightNote);
            }
            $('#notes .caption').delay(200).fadeIn();
        };
        var pageNumberFrom = function(pages) {
            return parseInt(pages.attr('id').replace("page", ""), 10);
        };
        $('#memorial-book').bind('next', function() {
            var currentPages = $('.opened', this);
            flickToNextPageIfAny(currentPages, $(currentPages).next(), animateToNextPage);
        });
        $('#memorial-book').bind('previous', function() {
            var currentPages = $('.opened', this);
            flickToNextPageIfAny(currentPages, $(currentPages).prev(), animateToPreviousPage);
        });
        $('a.right').click(function() {
            $('#memorial-book').trigger('next');
            return false;
        });
        $('a.left').click(function() {
            $('#memorial-book').trigger('previous');
            return false;
        });
        var keyMap = {'J' : 'next', 'K' : 'previous', 37 : "previous", 39 : 'next'};
        $(document).keydown(function(e) {
            var keyPressed = String.fromCharCode(e.keyCode);
            var event = keyMap[keyPressed];
            if (!event) {
                event = keyMap[e.keyCode];
            }
            if (event) {
                $('#memorial-book').trigger(event);
            }
        });
    });
</script>
</body>
</html>
