<html>
<head>
  <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css"/>
  <title>Make Eoin proud</title>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-623877-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
<h1>Make Eoin proud</h1>

<p>Every day, Eoin did something that made us proud. Now it's our turn to do the same for him.</p>

<p>Watch the <a href="/memorial">memorial service</a> we held to help celebrate his incredible life.</p>
<p>Flick through a <a href="/mini-book">little photo book of special moments</a></p>

</body>
</html>
